body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .header {
    display: flex;
    justify-content: space-between;
  }
  
  .logo-wrapper,
  .menu {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 5rem;
    width: auto;
    float: left;
  }
  
  .company-name {
    font-size: 2rem;
    font-weight: 700;
  }
  
  .menu-item {
    font-size: 1.4rem;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    min-height: 600px;
    padding: 30px;
    margin: auto;
    background:#ffeeee;
  }
  
    
    
    