/* page */
*::selection{
    background-color: rgba(134, 183, 31, 0.2);
}

body{
    font-size: 12px;
    font-family: 'Calibri', sans-serif;
}

/* menu */
nav>ul.menu>li{
    display: inline;
    margin: 10px;
    list-style: none;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

nav>ul.menu>li>a{
    color: #B9482B;
    text-decoration: none;
    
}

nav > ul.menu > li > a:hover{
    text-decoration: underline;
}

nav > ul.menu > li > a:visited{
    text-decoration: underline;
    color: #FF00FF;
}

nav > ul.menu > li:first-child::after{
    content: "\0020 \2302"
}

/* titre */

h1{
    color: #BC8E14;
}

h2,h3,h4{
    color: #729E0E;
}

h4{
    text-decoration: underline;
}

article > h2::before{
    content: "\2708"
}

/* paragraphe */

section > p{
    padding: 10px;
    border: solid 1px gray;
}

p:not(.description , .informations){
    font-style: italic;
}