body{
    font-family: Calibri,sans-serif;
    color: #000634;
}
section.context{
    font-family:Tahoma,sans-serif;
    color: #2657cf;
}
p {
    padding: 10px;
    background-color: beige;
}

p.sample {
    background-color: darkgray;
    font-style: italic;
}

h3.method {
    text-decoration: underline;
}

p.method {
    background-color: gray;
}

#definition {
    background-color: sandybrown;
    padding: 12px;
    border: 1px solid black;
}

h2,h3{
    color: darkblue;
}

.warning{
    color: #cf3e4f;
    font-weight: bold;
}