/* Code déjà présent */
nav a {
    font-weight: bold;
    text-decoration: none;
}

nav > ul.site-navigation > li {
    display: inline;
    list-style: none;
    color: green;
    font-size: 14px;
    margin: 10px;
}

nav > ul.site-navigation > li > a  {
    color: #2b2b2b;
}

nav > a {
    color: brown;
}

body {
    font-family: Calibri, sans-serif;
    color: #000634;
}
/* partit exercice */

p:active{
    background-color:rgba(0, 255, 85, 0.15) ;
}

nav a:hover,ul.site-navigation>li>a:hover{
    color: #2657cf;
    text-decoration: underline;
}