/* Code déjà présent */
nav a {
    font-weight: bold;
    text-decoration: none;
}

nav > ul.site-navigation > li {
    display: inline;
    list-style: none;
    color: green;
    font-size: 14px;
    margin: 10px;
}

nav > ul.site-navigation > li > a  {
    color: #2b2b2b;
}

nav a:hover, nav > ul.site-navigation > li > a:hover  {
    color: #2657cf;
    text-decoration: underline;
}

body {
    font-family: Calibri, sans-serif;
    color: #000634;
}

/* nouveau code */

nav>ul.site-navigation>li:first-child::after{
    content: "\0020 \2302";
}

h2::before{
    content:"\21B3 \0020" ;
}