html, body {
    margin: 0;
    background-color: #FFFc00;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  /* debut header */

  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #fffc00; */
  }

  header i {
    color: #ff4757;
  }

  header h1, header i{
    margin: 0 5px;
    font-size: 6rem;
  }

  header ul{
    display: flex;
    font-weight: 700;
  }

  header li{
    margin: 0 10px;
    text-decoration: underline;
  }

  .logo{
    display: flex;
    align-items: center;
  }
  /*  END--header */

  /* start-main */

  .content{
    display: flex;
    /* background-color: #fffc00; */
    padding: 5rem;
  }

  section,aside{
    background-color: white;
    margin: 15px;
    padding: 20px;
  }

  section{
    flex: 2;
  }

  aside{
    flex: 1;
  }

  .illustration{
    margin: 20px;
  }

  .float_left{
    float: left;
  }

  .float_right{
    float: right;
  }

  aside ul{
    /* display: flex;
    flex-direction: column; */
  }

  aside li{
    /* flex: 1; */
    align-self: stretch;
    background-color: #ececec;
    margin: 5px;
    padding: 10px;
  }
/* END-MAIN */

/* Start-footer */

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 500px;
  background: black;
  color: #fffc00;
  padding: 2rem 0;
}

footer a { color: #fffc00; font-weight: 700; }
footer a:active { color: #fffc00; font-weight: 700; }
footer a:hover { color: #fffc00; font-weight: 700; }
footer a:enabled { color: #fffc00; font-weight: 700; }

.upper-footer{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 1;
  align-self: stretch;
}

.socials{
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

.socials i {
  margin: 10px;
}

.back-to-top{
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ff4757;
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.watermark{
  display: flex;
  justify-content: center;
}
  

