/* Attention, celle-ci devra pouvoir être appliquée à d'autres cours respectant la même architecture.

La police utilisée sur tout le document sera la suivante : Calibri, sans-serif/

Les titres de premier niveau devront être centrés/

Les titres de premier et second niveaux seront de la couleur suivante : #000634/

Les titres de troisième niveau seront affichés en italique et de la couleur suivante : #2b2b2b/

Les titres de quatrième niveau seront soulignés/

Le contenu des paragraphes sera justifié, un padding de 5 pixels sera appliqué sur ces éléments/

Les définitions seront affichées sur un fond de couleur #e0ecec/

Les .sample sur un fond de couleur "lightgray"

Les .syntax sur un fond de couleur "cornsilk"

Les .warning sur un fond de couleur "lightcoral"

 */

 body{
     font-family: Calibri, sans-serif ;
 }

 h1{
     text-align: center;
 }

 h1,h2{
     color: #000634;
 }

 h3{
     color: #2b2b2b;
     font-style: italic;
 }

 h4{
    text-decoration: underline;
 }

 p{
     text-align: justify;
     padding: 5px;
 }

 .definition{
     background-color: #e0ecec;
 }

 .sample{
     background-color: lightgray;
 }

 .syntax{
     background-color: cornsilk;
 }

 .warning{
     background-color: lightcoral;
 }
     
     