.change-width {
    border-style: solid;
    width: 40%;
    }
    
    /* /Cette valeur peut être changée pour modifier la hauteur des éléments ayant la classe change-height/ */
    div {
    font-size: 16px;
    }
    
    .change-height {
    border-style: solid;
    height: 2em;
    }
    
    .bottom-right {
    font-size: 2rem;
    float: right;
    background: red;
    width: 50%;
    }
    
    .change-viewport {
    font-size: 7vh;
    }